<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-theme.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.css' | relative_url }}">
  <link href="{{ '/assets/css/custom.css' | relative_url }}" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ '/assets/images/favicon/favicon-196.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/favicon/favicon-192.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{ '/assets/images/favicon/favicon-128.png' | relative_url }}">
  <link rel="icon" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/favicon-180.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/images/favicon/favicon-152.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/images/favicon/favicon-144.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/images/favicon/favicon-120.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/images/favicon/favicon-114.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/images/favicon/favicon-76.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/images/favicon/favicon-72.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon/favicon-57.png' | relative_url }}">

  {%- feed_meta -%}

  {%- include custom-head.html -%}

</head>
