.bg-blue {
  background-color: #2fa4e7;
}
.content {
  height: calc(100vh - 56px);
}
.screenshot {
  max-width: 100%;
}
.logo-container {
  padding: 10px
}
.logo-container > img {
  height: 60px;
}
.thumb {
  height: 300px;
  max-width: 100%;
  margin: 0px 5px 10px 0px;
  vertical-align: middle;
  border: gray solid 1px;
}
@media (min-width: 1400px) {
  .screenshot {
    max-width: 1400px;
  }
}
a {
  color: #d70751;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
h3 {
  padding-top: 10px;
}
h1, h2, h3, h4, h5, h6{
  color: #2fa4e7;
}
#fullScreenContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#fullScreenImage, #fullScreenVideo {
  max-width: 90%;
  max-height: 90%;
}



